keras
tensorflow
tensorboard
networkx
h2o
sqlalchemy
sqlalchemy-teradata
pyodbc
mysql
mysql-connector-python
psycopg2-binary
plotly
dash
dash-daq
jupyter
jupyterlab
jupyterlab-discovery
jupyter_contrib_core
jupyter_highlight_selected_word
jupyter_nbextensions_configurator
jupyter_contrib_nbextensions
stldecompose
seasonal
hyperopt
statsmodels
category_encoders
catboost
lightgbm
xgboost
featuretools
Boruta
twine
zope.interface
tsforest
